.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.pageButton {
  padding: 10px 16px;
  background-color: #68a56b;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.pageButton:hover {
  background-color: #45a049;
}

.activePage {
  background-color: #008f07;
  font-weight: bold;
}
