.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.resetBtn {
  color: blue;
  background: none;
  border: none;
  cursor: pointer;
}

.checkboxElements {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.label {
  display: flex;
  gap: 10px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

.filterButton,
.resetButton {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.1s ease;
}

.filterButton:active,
.resetButton:active {
  transform: scale(0.95);
}

.filterButton {
  background-color: #007bff;
  color: white;
  border: none;
}

.resetButton {
  background-color: #a3a3a3;
  color: #fcfcfc;
}

.filterButton:hover,
.resetButton:hover {
  opacity: 0.9;
}

.activeReset {
  background-color: #e35858;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .buttonsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 10px;
  }
}
